.jm-checkout-page {
    max-width: 60%;
    margin: 0 auto;
  }
  
  .jm-cart-summary {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .jm-cart-total {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-block: 10px;
  }
  
  .jm-free-shipping {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .jm-continue-button {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
  }
  
  .jm-checkout-button {
    width: 25%;
    text-align: center;
    background-color: #0071e3;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .jm-continue-button1 {
    display: flex;
    justify-content: right;
    padding-bottom: 40px;
    height: 40px;
  }

  .jm-checkout-button1 {
    width: 25%;
    text-align: center;
    background-color: #0071e3;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .jm-checkout-button:hover {
    background-color: #005bb5;
  }
  
  .jm-cart-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .jm-checkout-button1:hover {
    background-color: #005bb5;
  }
  
  .jm-cart-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .jm-as-icondetails-detail {
    display: block;
  }

  .jm-as-icondetails-detail h3 {
    display: flex;
    font-size: 16px;
    margin-bottom: 3px;
  }

  .jm-as-icondetails-detail h3 img {
    width: 20px;
    margin-right: 5px;
  }

  jm-apple-care-tatle {
    font-size: 20px;
  }
  
  .jm-apple-care-tatle img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
.jm-apple-care {
    text-decoration: none;
    border: none;
}

.jm-apple-care span{
    font-size: 12px;
    margin-bottom: 10px;
}

.jm-plus {
    border: none; /* 테두리 없애기 */
    background-color: white;
    font-size: 12px;
    color: #0071e3;
}

  .jm-product-image {
    width: 300px;
  }
  
  .jm-item-info {
    flex: 2;
  }

  .jm-item-details {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .jm-item-name {
    text-align: left;
  }

  .jm-item-options {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .jm-item-options select {
    border: none; /* 테두리 없애기 */
    padding: 5px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  .jm-item-price {
    margin-left: 25%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .jm-remove-item {
    background: none;
    color: #0071e3;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .jm-cart-shipping-info {
    display: flex;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  
  .jm-price-summary {
    margin-top: 20px;
    text-align: right;
  }
  
  .jm-summary-details {
    display: inline-table;
    width: 70%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .jm-recommended-accessories {
    margin-top: 40px;
  }
  
  .jm-section-title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .jm-accessory-list {
    display: flex;
    justify-content: space-between;
  }
  
  .jm-accessory-item {
    text-align: center;
    width: 30%;
  }

  .jm-accessory-item p {
    font-size: 15px;
    margin-inline: 10px;
  }
  
  .jm-accessory-image {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .jm-add-to-cart-button {
    background-color: #0071e3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .jm-add-to-cart-button:hover {
    background-color: #005bb5;
  }
  
  .jm-more-products-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    background: none;
    color: #0071e3;
    text-decoration: none;
  }

  .jm-map-ping {
    align-items: center;
    background-image: url('https://store.storeimages.cdn-apple.com/8756/store.apple.com/static-resources/rs-checkout-5.4.1-33660/dist/assets/react-trans/store-locator/apple-selector-marker.png');
    background-size: cover;
    margin-inline-end: 10px;
    margin-top: 3px;
    min-width: 20px;
    height: 23px;
    color: aliceblue;
    font-size: 17px;
    text-align: center;
  }

  .jm-pickup {
    display: flex;
  }

  .jm-rc-segmented-control-icon {
    margin-top: 10px;
  }
  

  .jm-pickup p {
    font-size: 12px;
  }

  .jm-delivery {
    display: flex;
    margin-left: 20px;
  }

  .jm-delivery p {
    font-size: 12px;
  }
  
  