@charset "UTF-8";
/****************************************************************/
/* 회원 입력폼 공통 ***************************************************/
/****************************************************************/

.DA-link {
    color: black; /* 기본 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

.DA-link:visited {
    color: black; /* 방문한 링크 색상을 기본 색상과 동일하게 설정 */
}

#mypage .DA-link:hover {
    color: #0071e3;
    text-decoration: none; /* 밑줄 제거 */
}


/****************************************************************/
/* 로그인폼 ***************************************************/
/****************************************************************/
/* joinform 사용했음 */

#user #joinForm .DA-form-group #DA-link {
    margin-bottom: 150px;
    display: block; /* 블록으로 설정하여 세로로 쌓이도록 */
    color: #0071e3;
    text-decoration: none; /* 밑줄 제거 */
}

#user #joinForm .DA-error-message {
    text-align: center;
    color: #e32200;
}
