.jm-order-confirmation-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px; /* 상단 여백을 더 추가 */
  }

.jm-order-confirmation-container h1 {
  margin-bottom: 20px;
}

.jm-order-confirmation-container p {
  margin-bottom: 10px;
}
  
  .jm-navbar {
    background-color: #f8f8f8;
    padding: 15px 0;
  }
  
  .jm-main-content h1 {
    font-size: 36px; /* 제목 크기 확대 */
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .jm-main-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .jm-order-number {
    margin-top: 10px;
    font-size: 18px;
    color: #0071e3;
  }
  
  /* Flexbox를 사용하여 텍스트와 이미지를 나란히 배치 */
  .jm-shipment-info {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .jm-shipment-details {
    width: 50%;
    text-align: right; /* 텍스트를 왼쪽 정렬 */
    font-size: 18px; /* 텍스트 크기 조정 */
  }
  .jm-shipment-text {
    width: 50%;
    margin-left: 70%; /* ��스트와 이미지 간격 조정 */
    text-align: left;
  }
  
  .jm-shipment-details h2 {
    font-size: 24px; /* 출고 날짜 크기 조정 */
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 60px; /* 텍스트와 이미지 위 간격 더 추가 */
  }

  .jm-product-image-boxcontainer {
    width: 50%;
  }

  .jm-product-image-box {
    width: 250px;
    height: 250px;
    display: flex;
    margin-right: 20px;
  }
  
  .jm-product-image1 {
    height: 100%;
    text-align: left;
    
  }
  
  .jm-product-image1 img {
    height: 100%;
    margin: 20px auto; /* 이미지와 텍스트 간격 조정 */
    text-align: left;
  }

  .jm-product-image2 {
    height: 80%;
    text-align: left;
    
  }
  
  .jm-product-image2 img {
    height: 50%;
    margin: 20px auto; /* 이미지와 텍스트 간격 조정 */
    text-align: left;
  }
  
  .jm-pickup-StireAddress {
    display: flex;
    justify-content: center;
  }

  .jm-pickup-StoreAddress-info {
    margin-top: 100px;
    text-align: left;
    margin-right: 20px;
  }

  .jm-span-tatle {
    font-weight: bold;
    color: #9a9a9a;
  }

  .jm-pickup-StoreAddress-info p {
    font-size: 13px;
    font-weight: bold;
    color: #9a9a9a;
  }



  .jm-order-number {
    margin-bottom: 20px;
  }

  .jm-product-summary {
    margin: 20px;
  }
  .jm-shipping-info,
  .help-section,
  .faq-section {
  margin: 20px 0;
  }

  .jm-product-summary ul {
    display: grid;
    justify-content: center;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    list-style: none;
    padding: 0;
  }
  
  .jm-product-details {
    display: flex;
    width: 100%;
    margin-left: 20px;
    text-align: center;
    }
    
    .jm-product-img {
    width: 40%;
    }
    
    .jm-product-img img {
      width: 100%;
      margin-block: 20px;
      padding-top: 15px;
      }
    
    .jm-product-info {
      width: 60%;
      margin-block: 20px;
      padding-top: 15px;
    }
  
    .jm-payment-info-StoreMApImg {
      width: 400px;
    }

    .jm-payment-info-StoreMApImg img {
      width: 100%;
    }

  